:root{
    /* ## Colors */

 /*### Primary */

--Very-dark-blue:hsl(233, 47%, 7%);
--Dark-desaturated-blue: hsl(244, 38%, 16%);
--Soft-violet: hsl(277, 64%, 61%);
--Soft-violets: hsla(277, 64%, 61%, 45%);

/* ### Neutral*/

--White: hsl(0, 0%, 100%);
--Slightly-transparent-whites: hsla(0, 0%, 100%, 0.75);
--Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
/* ## Typography */

/* ### Body Copy */

/* ### Font */
--Inter:'Inter', sans-serif;
--Lexend Deca:'Lexend Deca', sans-serif;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: var(--Very-dark-blue);
}

.main-container{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 100vh;


}


.background-card{
    background-color: var(--Dark-desaturated-blue);
    width: 600px;
    height: 400px;
}

.header{
    color:var(--White);
    text-align: center;
    padding: 10px;
    margin: 20px 20px 10px 20px;
    font-family: var(--Inter);
}

.insights{
    color: var(--Soft-violet);
   
}

.paragraph-1{
    color:var(--Slightly-transparent-whites);
    text-align: center;
    padding: 20px;
    margin: 20px 20px 10px 20px;
    line-height: 30px;
    font-size: 15px;
}

p{
    color: var(--White);
    font-size: 25px;
    font-family: var(--Lexend);
    line-height: 30px;
    
}

p.info{
    color: var(--White);
    display: inline-block;
    text-align: center;
    margin: 50px;
    font-size: 20px;
    font-family: var(--Inter);
    
}

p span{
    color: var(--Slightly-transparent-whites);
    display: flex;
    font-size: 15px;
    font-family: var(--Lexend);
}

/* img*/

figure{
    background-image: url(./images/image-header-desktop.jpg);
    background-size: cover;
    width: 600px;
    height: 400px;

}

.overlay{
    background: var(--Soft-violets);
    width: 600px;
    height: 400px;
    position: absolute;

}




/*footer*/
.attribution { 
    font-size: 20px; 
    text-align: center;
    position: relative; 
    color: var(--Soft-violet);

}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;

}

.attribution a:hover { 
  color:var(--Slightly-transparent-white)
